.heroBanner {
  padding: 6rem 0; /* final value */
  text-align: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem; /* final value */
}
